@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Urbanist";
  src: url("./urbanist.woff2") format("woff2"),
    url("./urbanist.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: light;
  }

  body {
    @apply antialiased text-gray-900 bg-white;
    font-family: "Urbanist", sans-serif;
    overflow-y: overlay;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold tracking-tight;
  }

  h1 {
    @apply text-4xl md:text-6xl;
  }

  h2 {
    @apply text-3xl md:text-5xl;
  }

  h3 {
    @apply text-2xl md:text-4xl;
  }

  p {
    @apply text-gray-600 leading-relaxed;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.14);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

@supports (scrollbar-color: auto) {
  * {
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
    scrollbar-width: thin;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}